html
	head
		title progbot
		meta(charset="utf-8")
		style.
			body{margin:0}
			canvas{width:100%;height:100%}
	body
		script(src="/static/j/debug.js")
		script(src="/static/j/three.js")
		script(src="/static/j/projector.js")
		script(src="/static/j/r.js")
