html
	head
		title MiniProg / ProgBot
		script(src="progbot.js", async="async", defer="defer")
		style.
			html,body{margin:0;border:0;background:#f0f0f0}
	body
		canvas#c This browser is bad, try another one!
		noscript This browser isn't good, try another one!
